<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoreload ="true"
      internalloglevel="Info"
      internallogfile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  
  <targets>
    <target name="allfile" xsi:type="File"
        layout="${longdate}|${event-properties:item=Event_Id}|${uppercase:${level}}|${logger}|${message}${exception:format=ToString}"
        fileName="${basedir}/logs/logfile-${shortdate}.txt" />
     <target name="exceptions" xsi:type="File"
        layout="${longdate}|${event-properties:item=Event_Id}|${uppercase:${level}}|${logger}|${message}${exception:format=ToString}"
        fileName="${basedir}/logs/logfile-exceptions-${shortdate}.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="GroomerApi.*" minlevel="Error" writeTo="exceptions" />
  </rules>
</nlog>